@{
  ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <h1>Vancouver University</h1>
</div>
<div class="row">
  <div class="col-md-4">
    <h2>Welcome to Vancouver University</h2>
    <p>
      Vancouver University is a made up school that I'm using to base my final project off of.
    </p>
  </div>  
</div>